@media screen and (max-width: 1440px)
  body
    background: url('../img/bgLC.png') no-repeat left 200px, url('../img/bgRC.png') no-repeat right 200px, #EEE
  .button
    padding: 16px 0
    font-size: 18px
    border-radius: 15px
  .container
    max-width: 1200px

  .main
    &__wrap
      padding: 180px 10px 65px
    &__title
      font-size: 80px
    &__subtitle
      font-size: 28px
      margin-bottom: 30px
    &__button
      margin-bottom: 25px
    &__li
      font-size: 18px
      img
        width: 25px

  .menu
    &--active
      display: block

  .header
    padding-top: 45px
    margin-bottom: -105px
    &__box
      gap: 30px
    &__burger
      display: flex
    &__nav
      display: none
    &__logo
      gap: 15px
      img
        &:first-child
          width: 100px
        &:last-child
          width: 120px
    &__tel
      width: 60px
      height: 60px
      img
        width: 36px