@media screen and (max-width: 991px)
  .button
    padding: 15px 0
    font-size: 16px
  .container
    max-width: 800px
  .section
    &__title
      font-size: 45px

  .we
    &__text
      font-size: 16px
      margin-bottom: 25px

  .main
    margin-bottom: 70px
    &__wrap
      padding: 100px 10px 30px
      background: url('../img/main/bgC.png') no-repeat center bottom/contain
    &__title
      font-size: 60px
      margin-bottom: 20px
    &__subtitle
      font-size: 22px
    &__button
      width: 100%
      max-width: 335px
      margin-bottom: 22px
    &__li
      font-size: 16px

  .menu
    &__dialog
      padding: 120px 20px 60px
      position: relative
      justify-content: center
    &__close
      position: absolute
      top: 40px
      right: 20px
    &__nav
      flex-direction: column
      align-items: center
      gap: 15px
    &__link
      padding: 0
      &::after
        display: none

  .header
    padding-top: 15px
    margin-bottom: -70px
    &__tel
      display: none