@media screen and (max-width: 1600px)
  .advantages
    &__container
      height: auto
      justify-content: flex-start
      background: url('../img/advantages/imgC.png') no-repeat right center, #E5E5E5
      padding: 50px 70px
    &__row
      flex-direction: column
      gap: 40px
      margin: 0
    &__box
      display: flex
      align-items: flex-end
      gap: 50px

@import "1440"

@media screen and (max-width: 1200px)
  .main
    &__wrap
      padding: 150px 10px 30px

@import "991"

@media screen and (max-width: 767px)
  body
    background: url('../img/bgLC.png') no-repeat left 200px, url('../img/bgRC.png') no-repeat right 600px, #EEE

  .open
    &__row
      flex-direction: column
      align-items: center
      gap: 0
    &__box
      align-items: center
      margin-bottom: 30px
    &__button
      display: none
      &--m
        display: block
    &__ol
      max-width: 335px
    &__img
      margin-bottom: 50px
      img
        max-width: 100%

  .advantages
    &__container
      border-radius: 10px
      background: #E5E5E5
      justify-content: center
    &__box
      flex-direction: column
      gap: 25px
    &__card
      width: auto
    &__row
      max-width: 335px
    &__button
      max-width: 335px

  .we
    &__img
      img
        max-width: 100%
    &__title
      text-align: center
    &__row
      flex-direction: column
      align-items: center

  .main
    padding: 0 10px
    &__title
      text-align: center
    &__subtitle
      text-align: center
    &__button
      display: block
      margin: 0 auto 22px
    &__ul
      max-width: 335px
      margin: auto
    &__wrap
      padding: 100px 10px 270px
      background: url("../img/main/bgM.png") no-repeat right bottom, url("../img/main/logo.png") no-repeat 100px calc(100% - 50px)

@media screen and (max-width: 575px)
  body
    background: #EEE
  .section
    padding: 0 20px
  .tel
    right: 10px
    bottom: 10px

  .question
    padding: 0 10px
    &__block
      padding: 30px 10px

  .partners
    padding: 70px 0 0
    background: url("../img/partners/bgM.png") no-repeat calc(50% - 70px) 18px
    &__container
      padding: 0
      background: none
    &__field
      padding: 5px 10px
    &__title
      padding: 0 20px

  .advantages
    padding: 0 10px
    &__container
      padding: 30px 10px

  .open
    padding-top: 70px
    background: url("../img/open/bgM.png") no-repeat center 20px
    &__container
      padding: 0
      background: none

  .info
    padding: 0
    &__title, &__interface
      padding: 0 20px
    &__field
      padding: 5px 10px

  .spec
    padding: 70px 0 0
    background: url("../img/spec/bgM.png") no-repeat center 10px
    &__container
      background: none
      padding: 0
    &__field
      padding: 0 10px 5px
    &__interface, &__title, &__subtitle
      padding: 0 20px

  .risk
    background: url('../img/risk/bgM.png') no-repeat center 10px
    &__container
      background: none

  .we
    padding-top: 70px
    background: url("../img/we/bg.png") no-repeat left top
    &__title
      max-width: 400px
      margin: 0 auto 45px

  .main
    padding: 0 10px
    margin-bottom: 0
    &__wrap
      padding: 100px 10px 270px
      background: url("../img/main/bgM.png") no-repeat right bottom, url("../img/main/logo.png") no-repeat left calc(100% - 50px)